In [2]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### list

In [4]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [6]:
list('kjsddjkn')

['k', 'j', 's', 'd', 'd', 'j', 'k', 'n']

In [9]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# for迴圈

In [10]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [20]:
s=0
for i in range(1,101):
    s=s+i

In [21]:
s

5050

# list append

In [60]:
prices=(1024,999,2000000)

In [61]:
c=34.065

In [62]:
for p in prices:
    print(p*c)

34882.56
34030.935
68130000.0

In [63]:
L=[]

In [64]:
L.append(87)

In [65]:
L

[87]

In [66]:
L.append('cfkjkjtiijgkngjg')

In [84]:
L

[87, 'cfkjkjtiijgkngjg']

# 字串分割

In [79]:
spam=input('hi')

hi1,3,6,100,15

In [80]:
spam

'1,3,6,100,15'

In [82]:
data=spam.split(',')

In [83]:
data

['1', '3', '6', '100', '15']

In [87]:
for p in data:
    p=float(p)
    print(p*c)

34.065
102.195
204.39
3406.5
510.97499999999997

In [90]:
p_list=[]
spam=input('gdg')
data=spam.split(',')

for p in data:
    p=float(p)
    p_list.append(p*c)
    print('dfg',int(p*c),'mk.kmksm')

gdg945595,61566156,5161981,51
dfg 32211693 mk.kmksm
dfg 2097251104 mk.kmksm
dfg 175842882 mk.kmksm
dfg 1737 mk.kmksm

In [91]:
p_list

[32211693.674999997, 2097251104.1399999, 175842882.765, 1737.3149999999998]

In [92]:
spam.split()

['945595,61566156,5161981,51']

In [103]:
def exchange(p):
    p=float(p)
    return p*c

In [104]:
exchange('399')

13591.935

# map

In [105]:
L='333 1151 1548 779 501'.split()

In [106]:
L

['333', '1151', '1548', '779', '501']

In [107]:
j=list(map(exchange,L))

In [108]:
j

[11343.644999999999,
 39208.814999999995,
 52732.619999999995,
 26536.635,
 17066.565]

In [109]:
def f(x):
    return x**2

In [110]:
f(2)

4

In [111]:
g=lambda x:x**2

In [112]:
g(3)

9

In [116]:
list(map(lambda p:float(p)*c,L))

[11343.644999999999,
 39208.814999999995,
 52732.619999999995,
 26536.635,
 17066.565]

In [123]:
egg=('9 4 8 7 ')

In [126]:
o=egg.split()

In [130]:
list(map(lambda x:2*float(x)+1,o))

[19.0, 9.0, 17.0, 15.0]

# list comprehension

In [136]:
L

['333', '1151', '1548', '779', '501']

In [137]:
[float(p)*c for p in L]

[11343.644999999999,
 39208.814999999995,
 52732.619999999995,
 26536.635,
 17066.565]

In [150]:
s=''
for i in L:
    s=s+i+','

In [145]:
s

'333,1151,1548,779,501,'

In [146]:
s.rstrip(',')

'333,1151,1548,779,501'

In [147]:
s[:-1]

'333,1151,1548,779,501'

In [148]:
','.join(L)

'333,1151,1548,779,501'

In [151]:
L

['333', '1151', '1548', '779', '501']

In [152]:
egg=[594,16,89,11]

In [156]:
egg.sort()

In [157]:
egg

[11, 16, 89, 594]

In [158]:
ham='lallalalalala'

In [159]:
ham[5]

'l'

In [162]:
ham[1:4:2]

'al'

In [167]:
ham[::-1]

'alalalalallal'

In [168]:
ham

'lallalalalala'

In [202]:
from ipywidgets import interact
def move(n=1):
    print(' '*n+'6666'+' '*70+' . . . . .'*n*-1+'7777')

In [203]:
move()

 6666                                                                      7777

In [204]:
interact(move,n=(1,40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…